<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
<key>NSLocationWhenInUseUsageDescription</key>
<string>This app needs location access to set up location-based notifications and zones.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>This app needs always location access to notify you when entering or leaving specific zones, even when the app is running in the background.</string>
</dict>
</plist>
